<h1>Menu</h1>
<h2>Drinks</h2>
<ul>
  <li>Coffee $3</li>
  <li>Juice $5</li>
  <li>Tea $4</li>
  <li>Milkshake $6</li>
</ul>

<h2>Food</h2>
<ul>
  <li>Cake $3</li>
  <li>Muffin $5</li>
  <li>Toastie $9</li>
  <li>Eggs Benedict $16</li>
</ul>
